---
permalink: /archive/
---

<!DOCTYPE html>

<html>
{% include head.html %}

    <body id="page-top" class="index">

    {% include header_subpage.html %}

    <div style="background-color: #ac0634">
        <div class="container">
            <div class="row">
                <div id="welcome-title">
                    News and Views Archive
                </div>
            </div>
        </div>
    </div>
    
    <section class="bg-light-gray" style="padding: 40px 0 80px 0">
        <div class="container" id="news">
            <div class="row">
            {% for news in site.categories.news %}
                <div class="col-md-4 col-sm-6 news-item">
                    <p id="date-tag">
                        {{ news.date | date: "%a, %b %d, %Y"}}
                    </p>
                    <a href="{{ site.baseurl }}{{ news.permalink }}" class="news-link">
                        <div class="news-hover">
                            <div class="news-hover-conent">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/img/news/{{ news.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="news-caption">
                        <h4>{{ news.title }}</h4>
                        <p class="text-muted">
                            {{ news.subtitle }}
                        </p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>

    {% include footer.html %}
    {% include js.html %}

    </body>
</html>