---
permalink: /research/
---

<!DOCTYPE html>

<html>
{% include head.html %}

    <body id="page-top" class="index">

    {% include header_subpage.html %}

    <div style="background-color: #ac0634">
        <div class="container">
            <div class="row">
                <div id="welcome-title">
                    Research Overview
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="news-abstract">
        <div class="row" style="padding: 0 2%">
            <div>
                Understanding human cognition and cognitive technology through interdisciplinary research
            </div>
        </div>
    </div>

    <!-- IFrame for youtube vid // hint that this is german! -->
    <section class="bg-light" id="news-article">
        <div class="container">
            <div class="row">
                <div id="news-body">
                    <!-- Even though this is html, the formatting rules for imgs in markdown news apply -->
                    <p>
                        Cognition and cognitive science methodologies will significantly influence the public discussion
                        in the nearer future in both, the scientific research endeavors themselves and their application
                        in economically important high tech areas. Not only fundamental questions of our very own, i.e. 
                        human self-understanding are raised, but cognitive technologies are also the tools that are 
                        connected with considerable economic potentials and opportunities. This can be adumbrated by
                        the current paradigm shift from conventional IT to cognitive technologies, cognitive computing,
                        and cognitive services.
                    </p>
                    <p>
                        The Institute of Cognitive Science together with other members of the University, the Institute of Computer Science,
                        the Institute of Psychology, Information management, biology, virtUOS, and the research unit “Cognition and Poetics”
                        is optimally prepared in order to be sustainably nationally and internationally visible in basic research and numerous
                        economically important applications. Examples of central research questions of the profile area and their closer
                        disciplinary and social embedding are:
                        <ul>
                            <li>How does the brain work? Basic research in neuroscience and reference to medical applications.</li>
                            <li>How can cognition be understood and explained? Classical approaches of cognitive psychology.</li>
                            <li>How will we learn in the future? Next-generation e-learning systems for all education sectors.</li>
                            <li>How will we interact with machines and computer programs in the future? New ways of communicating with machines.</li>
                            <li>How will our life look in the future? Computer support for humans in all areas of life.</li>
                            <li>What connects cognition and poetics? New impetus for cognitive and human sciences.</li>
                        </ul>
                    </p>
                    <p>
                        In addition to these research questions, there are numerous practical and economically relevant applications in the field
                        of the interplay and the integration of big data, artificial intelligence, machine learning, interface design, and 
                        cognitive modeling. Due to the established international Bachelor, Master, and PhD study programs in Cognitive Science, 
                        Osnabrück is ideally positioned to continue to ensure a steady output of highly qualified graduates. The Institute of 
                        Cognitive Science (IKW) as the nucleus of the profile area has both, the disciplinary diversity and the excellent 
                        international reputation as well as the necessary methodological breadth to form a solid foundation for this profile area.
                    </p>

                    <p style="text-align: center; padding: 30px 0 30px 0">
                        <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/UQt8uuuSV7Q" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen style="margin:auto">
                        </iframe><br>
                        A short, descriptive video of our research hub. <i>only available in german.</i>
                    </p>

                    <h4>How does the brain work? Basic research in neuroscience and reference to medical applications.</h4>
                    <p>
                        This topic focuses on basic research in the field of neuroscience, in particular on neuronal models for attention,
                        motion and perception, learning processes, multi-modal integration of sensory data, sensorimotor contingencies, neuronal
                        foundations of memory and object perception, as well as influences of biological factors on cognition, e.g. effects of 
                        insulin, drugs or estrogen on cognitive aspects. The methods used in this field are EEG, eye tracking, hormonal analyses, 
                        behavioral recordings, and human-experimental paradigms. In the context of neurodegenerative diseases, transgenes and 
                        knock-out mouse models are used. New neural models are developed based on the findings. Participating fields of research 
                        are General Psychology I, General Psychology II and Biological Psychology, Neurobiopsychology, Neuroinformatics, and Neurobiology.
                    </p>

                    <h4>How can cognition be understood and explained? Classical approaches of cognitive psychology.</h4>
                    <p>
                        This topic covers classical approaches to basic psychological research within cognitive science. Psychological and computational
                        models of cognitive abilities are investigated, ranging from perception and memory to higher abilities such as complex problem 
                        solving. Methodologically, this field focuses on human psychological behavioral experiments, cognitive modeling, and computational 
                        models. Participating fields are General Psychology I, General Psychology II, Differential Psychology, Cognitive Modeling, Artificial 
                        Intelligence, Cognitive Robotics and Computer Vision.
                    </p>

                    <h4>How will we learn in the future? Next-generation e-learning systems for all education sectors.</h4>
                    <p>
                        Educational systems are facing monumental changes. More and more computer-based e-learning systems in schools, colleges, and further
                        education institutions will complement and at least partially replace classical teaching methods. In particular, support in the area 
                        of ​​language acquisition (e.g. integration of migrants) and company training, as well as further training of employees, will play a 
                        central role in the future. This makes the development of intelligent, adaptive, multi-media, collaborative, and ubiquitous e-learning 
                        systems necessary. Methodologically, this topic is oriented towards developments around Big Data, digital working environments, cognitive 
                        modeling, and classical computer science. Participating fields are virtUOS, Media Informatics, Work and Organizational Psychology, 
                        Corporate Accounting and Management Information Systems, Neuroinformatics, Artificial Intelligence, and Cognitive Modeling.
                    </p>

                    <h4>How will we interact with machines and computer programs in the future? New ways of communicating with machines.</h4>
                    <p>
                        In this field, the focus of research and development will be on innovative human-computer interfaces, as well as interactive, 
                        close-to-the-body technology systems (for example, augmented reality glasses, sensors), in particular with regard to software 
                        ergonomics and user experience. Methodologically, this research field works with behavioral recordings (including speech input and 
                        output), eye tracking, as well as technologies in the area of ​​virtual reality and mixed reality. Participating fields are Work and 
                        Organizational Psychology, Media Informatics, Corporate Accounting and Management Information Systems, Neuroinformatics, 
                        Neurobiopsychology, Artificial Intelligence, Cognitive Robotics and Distributed Systems.
                    </p>

                    <h4>How will our life look in the future? Computer support for humans in all areas of life.</h4>
                    <p>
                        This topic addresses intelligent ubiquitous systems, for example, in the areas of Smart Home, Ambient Assisted Living, eHealth, 
                        Smart City, Smart Industry, and Smart Farming. Here, in particular, multi-sensory interactive systems are used, which can 
                        understand and predict human action or the respective context of actions, i.e. which can generally support human action. Methodically, 
                        such an area encompasses aspects of software engineering, robotics, artificial intelligence and distributed systems, as well as 
                        psychological, economic, and neuroscientific aspects. Participating fields are Distributed Systems, Cognitive Robotics, Combinatorial 
                        Optimization, Corporate Accounting and Management Information Systems, General Psychology I, Nursing Science, Philosophy, Cultural 
                        and Media Sciences.
                    </p>

                    <h4>What connects cognition and poetics? New impetus for cognitive and human sciences.</h4>
                    <p>
                        The humanities deal for the most part with the question of what a literary text, a painting, a piece of music, etc., mean, and what 
                        principles are based on their effects. New, cognitive-scientific theories and approaches provide important impulses for the critical 
                        revision of established paradigms in the linguistic, literary, and cultural sciences (text analysis, the philologies). The integration of 
                        cognitive science methods and knowledge can therefore contribute to the substantial renewal of traditional humanities. This is addressed 
                        in this field, which examines cognitive foundations and conditions for hermeneutic. Participating fields are the Center for Cognitive Poetics, 
                        Philosophy of Mind, Theoretical Philosophy, Art History, and Systematic Musicology. 
                    </p>
                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}
    {% include js.html %}

    </body>

</html>