---
permalink: /research/
---

<!DOCTYPE html>

<html>
{% include head.html %}

    <body id="page-top" class="index">

    {% include header_subpage.html %}

    <div style="background-color: #ac0634">
        <div class="container">
            <div class="row">
                <div id="welcome-title">
                    Research Overview
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="news-abstract">
        <div class="row" style="padding: 0 2%">
            <div>
                This is a one sentence description of <i>"what we are about"</i> or <b>"how we do stuff"</b>
            </div>
        </div>
    </div>

    <section class="bg-light" id="news-article">
        <div class="container">
            <div class="row">
                <div id="news-body">
                    <!-- Even though this is html, the formatting rules for imgs in markdown news apply -->
                    <h1>First Heading</h1>
                    Text
                    Text
                    Text
                    Text
                    Text
                    Text
                    Text
                    Text
                    <h2>Second Heading</h2>
                    TextTextTextTextTextTextTextTextTextTextTextTextText
                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}
    {% include js.html %}

    </body>

</html>