<!-- News Section -->
    <section id="news" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">News and Views</h2>
                    <h3 class="section-subheading text-muted">
                        Opinions, news and events in and around our research hub.
                    </h3>
                </div>
            </div>
            <div class="row">
            {% for news in site.categories.news limit: 6 %}
                <div class="col-md-4 col-sm-6 news-item">
                    <p id="date-tag">
                        {{ news.date | date: "%a, %b %d, %Y"}}
                    </p>
                    <a href="{{site.baseurl}}/{{ news.date | date: "%Y-%m-%d" }}" class="news-link">
                        <div class="news-hover">
                            <div class="news-hover-conent">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{src.basurl}}/img/news/{{ news.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="news-caption">
                        <h4>{{ news.title }}</h4>
                        <p class="text-muted">{{ news.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>

            <div id="more-news">
                <a href="{{ site.baseurl}}/archive/" class="btn btn-xl" id="more-news">
                    News Archive
                </a>
            </div>
        </div>
    </section>