
    <div style="background-color: #ac0634">
        <div class="container">
            <div class="row">
                <div id="welcome-title">
                    Welcome to the Cognition Research Hub at University Osnabrück
                </div>
            </div>
        </div>
    </div>

    <div class="container bg-light">
        <div class="row" id="welcome-text">
            <p>
                <b>Cognition</b> and <b>cognitive science</b> methodologies will significantly influence the public 
                discussion in the nearer future in both, the scientific research endeavors themselves 
                and their application in economically important high tech areas. Not only fundamental 
                questions of our very own human self-understanding are raised, but cognitive technologies 
                are also the tools that enable considerable economic potential and opportunities. 
            </p>
            <p>
                Learn more on how we are going about this interdisciplinary research endeavor from humans to machines to their interactions.
            </p>
        </div>
    
        <div id="research-buttons">
            <a href="{{ site.baseurl }}/research/" class="btn btn-xl">
                Research Overview 
            </a>
        </div>
    </div>