
    <div style="background-color: #ac0634">
        <div class="container">
            <div class="row">
                <div id="welcome-title">
                    Welcome to the Cognition Research Hub at University Osnabrück
                </div>
            </div>
        </div>

    </div>

    <div class="container bg-light">
        <div class="row" id="welcome-text">
            <p>
                Cognition - <i>the mental action or process of acquiring
                knowledge and understanding through thought and experience,
                and the senses</i> - some other words that sound good.
            </p>
            <p>
                Maybe they even sound very good. That could be a possibility.
                But maybe not.
            </p>
            <p>
                I give up.
            </p>
        </div>
    
        <div id="research-buttons">
            <a href="{{ site.baseurl }}/research/" class="btn btn-xl">
                Research Overview 
            </a>
        </div>
    </div>