<!DOCTYPE html>
<html>
    {% include head.html %}

        <body id="page-top" class="index">

        {% include header_subpage.html %}

        <div class="container" id="news-abstract">
            <div class="row" style="padding: 0 2%">
                <div>
                {{ page.description }}
                </div>
            </div>
        </div>
            
        <section class="bg-light" id="news-article">
            <div class="container">
                <div class="row">
                    <div id="news-body">
                    {{ content }}
                    </div>
                </div>
            </div>
        </section>

        {% include footer.html %}
        {% include js.html %}

        <!-- Custom JavaScript -->
        <script src="{{ "/js/custom_newspage.js" | prepend: site.baseurl }}"></script>

        </body>
</html>